    * {
        margin: 0;
        padding: 0;
    }
    
    .main {
        width: 200vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #container {
        margin-top: 20px;
        width: 50%;
        background-color: pink;
        height: 90vh;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }
    
    #divjs {
        margin-top: 20px;
        display: flex;
        background-color: red;
    }
    
    #clrbtn {}
    
    #divjs2 {
        margin-left: 20px;
        background-color: aqua;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }
    
    #divjs2 p {
        color: gray;
        font-size: 12px;
    }
    
    #img {
        /* background-size: cove; */
        margin-left: 20px;
        width: 50px;
        height: 9vh;
        border-radius: 50%;
        /* margin */
    }
    
    .text {
        /* padding-top: 10px; */
        /* align-items: center; */
    }